@import '../../../App.scss';

section.progressContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 48px;

  .progressBar {
    display: flex;
    flex-grow: 1;
    max-width: 60px;
    height: 1px;
    margin: 0px 8px;
    border-width: 2px;
    border-style: solid;
  }

  .progressGroup {
    display: flex;

    .progressIconUndone {
      display: inline-block;
      position: relative;
      width: 27px;
      height: 27px;
      margin-right: 8px;
      border-radius: 50%;
      border: 2px solid var(--progress-undone-color);

      .textUndone {
        width: inherit;
        height: inherit;
        position: absolute;
        top: 0px;
        font-size: 12px;
        font-weight: 700;
        line-height: 24px;
        text-align: center;
        color: var(--progress-undone-color);
      }
    }

    .progressIconCurrent {
      display: inline-block;
      position: relative;
      width: 27px;
      height: 27px;
      margin-right: 8px;
      border-radius: 50%;
      border: 2px solid var(--progress-current-color);

      .textCurrent {
        width: inherit;
        height: inherit;
        position: absolute;
        top: 0px;
        font-size: 12px;
        font-weight: 700;
        line-height: 24px;
        text-align: center;
        color: var(--progress-current-color);
      }
    }

    .progressLabelUndone {
      font-weight: 400;
      line-height: 24px;
      color: var(--progress-undone-color);
    }

    .progressLabelCurrent {
      font-weight: 400;
      line-height: 24px;
      color: var(--progress-current-color);
    }

    .completeIcon {
      position: relative;
      width: 27px;
      height: 27px;
      margin-right: 8px;
    }
  }

  .undone {
    color: var(--progress-undone-color);
  }
}

@media screen and (max-width: $screen-break-point) {
  section.progressContainer {
      margin-top: 24px;

      .progressGroup {
          .progressIcon {
              width: 32px;
              height: 32px;
              margin-right: 0px;

              .text {
                  line-height: 32px;
              }
          }
      }
      .progressLabel {
          display: none;
      }
  }
}